@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body {
	
	background-color: dodgerblue;
	padding: 5vw 5vw 5vw 5vw;
}
#portada {
	width: 87vw;
	height: 40vw;
	background-image: url('../IMG/LILYACHTY.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 100px;
}
h1{
	color: black;
	font-family: "Sacramento";
	text-align: center;
	font-size: 3vw;
	}
h2{
	color: black;
	font-family: "Sacramento";
	font-size: 3vw;	
	}
p{
	color: black;
	font-family: "Raleway";
	text-align: justify;
	font-size: 2vw
}
ul{
	color: black;
	font-family: "Raleway";
	font-size: 2vw
	}
table{
	color: black;
	font-family: "Raleway";
	border-collapse: collapse;
	font-size: 2vw;
	width: 100%;
}
th, td{
	border-bottom: 0.1vw solid black;
}
tr:hover{
	background-color: rgba(0,0,225,0.1); 
}