@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
body{
	background-color: aqua;

}
h1{
	background-color: turquoise;
	color: deeppink;
	font-family: "Galada";
	text-align: center;
	font-size: 7vw;
}
p{
	color:black;
	font-size: 3vw;
	font-family: "Merienda One"
}